fastapi
uvicorn[standard]
sqlalchemy
pydantic
requests
shortuuid
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]
python-multipart
email-validator
stripe
dotenv
pandas
scikit-learn
psycopg2-binary